[submodule "oh-my-fish"]
	path = oh-my-fish
	url = https://github.com/bpinto/oh-my-fish.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/zsh-git-prompt"]
	path = zsh/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
